* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(216, 12%, 8%);
  min-height: 100vh;
  font-family: 'Overpass', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box-container {
  background-color: hsl(213, 19%, 18%);
  border-radius: 30px;
  padding: 1.5rem;
  width: 380px;
}

.icon-star {
  background-color: hsla(217, 6%, 25%, 0.424);
  border-radius: 50%;
  padding: 10px;

}

h1 {
  color: hsl(0, 0%, 100%);
  padding-top: 20px;
}

.info {
  font-size: 15px;
  padding-top: 20px;
  color: hsl(217, 12%, 63%);
}

ul {
  list-style-type: none;
  display: flex;
}
.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.btn {
  background-color: hsl(213, 19%, 18%);
  width: 3rem;
  height: 3rem;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 50%;
  padding-top: 0.3rem;
  transition: 0.3s;
}



.btn:hover {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}
.btn:focus {
  background-color: hsl(25, 97%, 53%);
}

#btn-submit {
  border: none;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  padding: 10px;
}

#btn-submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.thank-you  {
  text-align: center;
  background-color: hsl(213, 19%, 18%);
  border-radius: 30px;
  padding: 1.5rem;
  width: 380px;
}

.hidden {
  display: none;
}

.thank-you h2 {
  color: hsl(0, 0%, 100%);
  padding: 20px;
}

.thank-you p{
  color: hsl(217, 12%, 63%);
}

#selected-rating{
  color: hsl(25, 97%, 53%);
  background-color: hsla(217, 6%, 25%, 0.424);
  border-radius: 10px;
  margin: 15px;
}



 .attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
  color: #ddd;
  text-align: center;
} 